/* Define o estilo do corpo da página */
body {
    margin: 0;
    height: 100vh;
    background: url('mine.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Estilo da navegação */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 22px; /* Aumentando o tamanho da fonte */
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

/* Estilo da imagem animada */
.animated-image {
    position: relative;
    top: 80px;
    animation: bobbing 2s ease-in-out infinite;
}

@keyframes bobbing {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Estilo do título */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    text-align: center;
}

.welcome-text {
    font-size: 2em;
    color: white;
    margin-bottom: 2px;
}

.server-text {
    font-size: 5em;
    font-weight: bold;
    background: linear-gradient(to right, #00FFFF, #00FF00);
    -webkit-background-clip: text;
    color: transparent;
}

/* Estilo de conteúdo das abas */
.tab-content {
    display: none;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.tab-content.active {
    display: block;
}

/* Estilo da loja */
.store-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product h3 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product .price {
    color: #00FFFF;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.product button {
    padding: 10px;
    background-color: #003300;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.product button:hover {
    background-color: #038f03;
    transform: scale(1.1);
}

/* Estilo do botão de "Entrar no Discord" */
.discord-button {
    padding: 15px 30px;
    background-color: #7289DA; /* Cor do Discord */
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
}

.discord-button:hover {
    background-color: #5b6e99; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05);
}

/* Ajuste da responsividade */
@media screen and (max-width: 768px) {
    .welcome-text {
        font-size: 1.2em;
    }

    .server-text {
        font-size: 6em;
    }

    .animated-image img {
        width: 150px;
    }

    .product {
        width: 100%;
        margin: 10px 0;
    }

    .product img {
        width: 100%;
        height: auto;
    }

    .product h3 {
        font-size: 1.2em;
    }

    .product .price {
        font-size: 1em;
    }

    .product button {
        width: 100%;
        font-size: 1.2em;
    }

    .discord-button {
        font-size: 1.2em;
        width: 100%;
    }
}
